0 3 * * 0 bash /home/nathan/git/mykube/cron-scripts/pg-backup.sh >> ~/cron-logs/pg-backup.log 2>&1
0 21 * * 5 bash /home/nathan/git/mypersonalfinance/bin/parents-db-cron.sh >> ~/cron-logs/parents-db-cron.log 2>&1
30 * * * * bash /home/nathan/git/mykube/cron-scripts/duck.sh >> ~/cron-logs/duck.log 2>&1