apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-server-conf
  namespace: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 300s
      scrape_timeout: 60s

    scrape_configs:
      - job_name: 'kasa_exporter'
        static_configs:
          - targets: ['kasa-flask-server-exporter.kasa-flask-server.svc.cluster.local:9101']
      
      - job_name: 'govee_exporter'
        static_configs:
          - targets: ['govee-flask-server-exporter.govee-flask-server.svc.cluster.local:9101']
        
      - job_name: '7950x_aquacomputer_highflow_node_exporter'
        static_configs:
          - targets: ['10.20.0.181:9100']

    storage:
      tsdb:
        retention:
          time: 90d
