version: "3.8"

services:
  transmission:
    image: haugene/transmission-openvpn
    container_name: transmission-vpn
    cap_add:
      - NET_ADMIN
    env_file:
      - .env
    environment:
      - TRANSMISSION_RPC_WHITELIST_ENABLED=false
    volumes:
      - /home/nathan/Downloads:/data
      - ./config:/config
    ports:
      - "9091:9091"
    restart: unless-stopped
